# Lesson 01
# Introduction to the Course, Course Tools, Python Setup, Jupyter Notebook, Data Types, Functions

![http://www.pratt.edu/tiny_mce/plugins/imagemanager/files/Light_brown_blue22.jpg](http://www.pratt.edu/tiny_mce/plugins/imagemanager/files/Light_brown_blue22.jpg)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Lesson-01" data-toc-modified-id="Lesson-01-1">Lesson 01</a></span></li><li><span><a href="#Introduction-to-the-Course,-Course-Tools,-Python-Setup,-Jupyter-Notebook,-Data-Types,-Functions" data-toc-modified-id="Introduction-to-the-Course,-Course-Tools,-Python-Setup,-Jupyter-Notebook,-Data-Types,-Functions-2">Introduction to the Course, Course Tools, Python Setup, Jupyter Notebook, Data Types, Functions</a></span><ul class="toc-item"><li><span><a href="#Recommended-Resources" data-toc-modified-id="Recommended-Resources-2.1">Recommended Resources</a></span></li><li><span><a href="#Learning-Objectives" data-toc-modified-id="Learning-Objectives-2.2">Learning Objectives</a></span></li><li><span><a href="#Introduction-to-the-Course" data-toc-modified-id="Introduction-to-the-Course-2.3">Introduction to the Course</a></span></li><li><span><a href="#Course-Tools" data-toc-modified-id="Course-Tools-2.4">Course Tools</a></span><ul class="toc-item"><li><span><a href="#Slack" data-toc-modified-id="Slack-2.4.1">Slack</a></span></li><li><span><a href="#GitHub" data-toc-modified-id="GitHub-2.4.2">GitHub</a></span></li><li><span><a href="#Anaconda" data-toc-modified-id="Anaconda-2.4.3">Anaconda</a></span></li><li><span><a href="#Jupyter-Notebook" data-toc-modified-id="Jupyter-Notebook-2.4.4">Jupyter Notebook</a></span></li><li><span><a href="#Google-Colab-Notebooks" data-toc-modified-id="Google-Colab-Notebooks-2.4.5">Google Colab Notebooks</a></span></li></ul></li><li><span><a href="#GitHub" data-toc-modified-id="GitHub-2.5">GitHub</a></span><ul class="toc-item"><li><span><a href="#Fork-this-Lesson-Repo" data-toc-modified-id="Fork-this-Lesson-Repo-2.5.1">Fork this Lesson Repo</a></span><ul class="toc-item"><li><span><a href="#Fork" data-toc-modified-id="Fork-2.5.1.1">Fork</a></span></li><li><span><a href="#Clone" data-toc-modified-id="Clone-2.5.1.2">Clone</a></span></li></ul></li></ul></li><li><span><a href="#Google-Colab-Notebooks---Let's-Make-a-Quick-Map-with-Python" data-toc-modified-id="Google-Colab-Notebooks---Let's-Make-a-Quick-Map-with-Python-2.6">Google Colab Notebooks - Let's Make a Quick Map with Python</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#In-the-first-cell-add:" data-toc-modified-id="In-the-first-cell-add:-2.6.0.1">In the first cell add:</a></span></li><li><span><a href="#Then,-we-import-the-following-libraries" data-toc-modified-id="Then,-we-import-the-following-libraries-2.6.0.2">Then, we import the following libraries</a></span></li><li><span><a href="#Next,-we'll-load-in-Natural-Earth-World-Countries-Features" data-toc-modified-id="Next,-we'll-load-in-Natural-Earth-World-Countries-Features-2.6.0.3">Next, we'll load in Natural Earth World Countries Features</a></span></li><li><span><a href="#Now-let's-take-a-look-at-the-Countries-Feature-Layer-dataframe" data-toc-modified-id="Now-let's-take-a-look-at-the-Countries-Feature-Layer-dataframe-2.6.0.4">Now let's take a look at the Countries Feature Layer dataframe</a></span></li><li><span><a href="#Now-let's-Make-a-Map!" data-toc-modified-id="Now-let's-Make-a-Map!-2.6.0.5">Now let's Make a Map!</a></span></li></ul></li></ul></li><li><span><a href="#Python-Setup" data-toc-modified-id="Python-Setup-2.7">Python Setup</a></span><ul class="toc-item"><li><span><a href="#Anaconda---Python-3.7" data-toc-modified-id="Anaconda---Python-3.7-2.7.1">Anaconda - Python 3.7</a></span></li></ul></li><li><span><a href="#Python-Data-Types" data-toc-modified-id="Python-Data-Types-2.8">Python Data Types</a></span><ul class="toc-item"><li><span><a href="#Integers" data-toc-modified-id="Integers-2.8.1">Integers</a></span></li><li><span><a href="#Float" data-toc-modified-id="Float-2.8.2">Float</a></span></li><li><span><a href="#Boolean" data-toc-modified-id="Boolean-2.8.3">Boolean</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-2.8.4">Strings</a></span></li><li><span><a href="#Properties-of-Strings" data-toc-modified-id="Properties-of-Strings-2.8.5">Properties of Strings</a></span><ul class="toc-item"><li><span><a href="#Slice" data-toc-modified-id="Slice-2.8.5.1">Slice</a></span></li></ul></li><li><span><a href="#Variables-can-be-place-into-text-via-f-Strings" data-toc-modified-id="Variables-can-be-place-into-text-via-f-Strings-2.8.6">Variables can be place into text via f-Strings</a></span></li><li><span><a href="#Python-Operators-(+,-=,--,-*)" data-toc-modified-id="Python-Operators-(+,-=,--,-*)-2.8.7">Python Operators (+, =, -, *)</a></span><ul class="toc-item"><li><span><a href="#Addition" data-toc-modified-id="Addition-2.8.7.1">Addition</a></span></li><li><span><a href="#Subtraction" data-toc-modified-id="Subtraction-2.8.7.2">Subtraction</a></span></li><li><span><a href="#Multiplication" data-toc-modified-id="Multiplication-2.8.7.3">Multiplication</a></span></li><li><span><a href="#Division" data-toc-modified-id="Division-2.8.7.4">Division</a></span></li><li><span><a href="#Floor-Operator" data-toc-modified-id="Floor-Operator-2.8.7.5">Floor Operator</a></span></li><li><span><a href="#Modulo-Operator" data-toc-modified-id="Modulo-Operator-2.8.7.6">Modulo Operator</a></span></li><li><span><a href="#Exponentiate" data-toc-modified-id="Exponentiate-2.8.7.7">Exponentiate</a></span></li></ul></li></ul></li><li><span><a href="#Variables" data-toc-modified-id="Variables-2.9">Variables</a></span><ul class="toc-item"><li><span><a href="#Variable-Naming-Rules" data-toc-modified-id="Variable-Naming-Rules-2.9.1">Variable Naming Rules</a></span></li></ul></li><li><span><a href="#Collections-Data-Types" data-toc-modified-id="Collections-Data-Types-2.10">Collections Data Types</a></span><ul class="toc-item"><li><span><a href="#List" data-toc-modified-id="List-2.10.1">List</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-2.10.2">Dictionaries</a></span><ul class="toc-item"><li><span><a href="#Dictionaries-can-be-nested" data-toc-modified-id="Dictionaries-can-be-nested-2.10.2.1">Dictionaries can be nested</a></span></li></ul></li><li><span><a href="#Other-Collection-Types" data-toc-modified-id="Other-Collection-Types-2.10.3">Other Collection Types</a></span></li></ul></li><li><span><a href="#Built-in-Python-Functions" data-toc-modified-id="Built-in-Python-Functions-2.11">Built-in Python Functions</a></span></li><li><span><a href="#Python-Libraries" data-toc-modified-id="Python-Libraries-2.12">Python Libraries</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#You-can-import-a-library-for-handling-Dates-&amp;-Time-called-datetime" data-toc-modified-id="You-can-import-a-library-for-handling-Dates-&amp;-Time-called-datetime-2.12.0.1">You can import a library for handling Dates &amp; Time called datetime</a></span></li><li><span><a href="#You-can-import-plotting-libraries-like-matplotlib-for-data-visualization" data-toc-modified-id="You-can-import-plotting-libraries-like-matplotlib-for-data-visualization-2.12.0.2">You can import plotting libraries like <code>matplotlib</code> for data visualization</a></span></li></ul></li></ul></li></ul></li></ul></div>

## Recommended Resources

## Learning Objectives

* To familiarize students with the course format
* Introduce the Course Tools
* Introduce Students to our Python Setup
* Introduction to Python Data Types
* Introduction to Python Functions

## Introduction to the Course

**[Syllabus](https://docs.google.com/document/d/1KHxT-NkaoXXdSNkK8JlzL2FFgmNoxPQ25fwgtXPnbrY)**

**Class Format**:
* 3 hour Classes
  * 50 minutes of Lesson
  * 5-10 minute Break
  * 50 minutes of Lesson
  * 5-10 minute Break
  * ~45 minutes of Lesson
  * 10-15 minutes Homework Introduction, etc. 
  * (this is subject to change)

## Course Tools 

### Slack 
* [Join the Slack Group](https://join.slack.com/t/pratt-savi/shared_invite/zt-cywzjb3p-4Q_JaZNuenRGgf28tyMbRw)

### GitHub

* [Download GitHub Desktop](https://desktop.github.com/)
* [Create a GitHub Account](https://github.com/)

### Anaconda

* [Download and Install Anaconda for Python 3.7](https://www.anaconda.com/distribution/#download-section)
* [Installation Instructions](https://docs.anaconda.com/anaconda/install/)
* [Download Anaconda Cheatsheet](https://docs.conda.io/projects/conda/en/4.6.0/_downloads/52a95608c49671267e40c689e0bc00ca/conda-cheatsheet.pdf)
* ``conda create --name savi``


### Jupyter Notebook
> The Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. Uses include: data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine learning, and much more. - Source: [https://jupyter.org/](https://jupyter.org/)

### Google Colab Notebooks

* [Create a new Notebook](https://colab.research.google.com/notebook#create=true)

## GitHub

### Fork this Lesson Repo

https://github.com/pratt-savi-810/pratt-savi-810-2020-03-lesson_01

#### Fork

![fork](https://raw.githubusercontent.com/pratt-savi-810/images/master/fork.png)

---

#### Clone 

![clone](https://raw.githubusercontent.com/pratt-savi-810/images/master/clone.png)

## Google Colab Notebooks - Let's Make a Quick Map with Python

![colab](https://raw.githubusercontent.com/pratt-savi-810/images/master/colab_map.png)

* [Create a new Notebook](https://colab.research.google.com/notebook#create=true)

#### In the first cell add:

```python
%%time 
!apt update
!apt upgrade
!apt install gdal-bin python-gdal python3-gdal 
# Install rtree - Geopandas requirment
!apt install python3-rtree 
# Install Geopandas
!pip install git+git://github.com/geopandas/geopandas.git
# Install descartes - Geopandas requirment
!pip install descartes 
```

#### Then, we import the following libraries
We'll discuss Libraries later on.

In [258]:
import os 
import geopandas as gpd

#### Next, we'll load in Natural Earth World Countries Features 
These features are natively installed with GeoPandas. We'll talk about GeoPandas later on as well.

In [259]:
countries = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

#### Now let's take a look at the Countries Feature Layer dataframe 
We'll talk about DataFrames later on.

In [260]:
countries.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253,Africa,W. Sahara,ESH,906.5,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

#### Now let's Make a Map!
This is very easy with GeoPandas. Making maps later on will be more complicated.

In [261]:
countries

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253,Africa,W. Sahara,ESH,906.5,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."
...,...,...,...,...,...,...
172,7111024,Europe,Serbia,SRB,101800.0,"POLYGON ((18.82982 45.90887, 18.82984 45.90888..."
173,642550,Europe,Montenegro,MNE,10610.0,"POLYGON ((20.07070 42.58863, 19.80161 42.50009..."
174,1895250,Europe,Kosovo,-99,18490.0,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."
175,1218208,North America,Trinidad and Tobago,TTO,43570.0,"POLYGON ((-61.68000 10.76000, -61.10500 10.890..."
176,13026129,Africa,S. Sudan,SSD,20880.0,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ..."

## Python Setup

For this class we will use Anaconda Python.

### Anaconda - Python 3.7

* [Download and Install Anaconda for Python 3.7](https://www.anaconda.com/distribution/#download-section)
* [Installation Instructions](https://docs.anaconda.com/anaconda/install/)
* [Download Anaconda Cheatsheet](https://docs.conda.io/projects/conda/en/4.6.0/_downloads/52a95608c49671267e40c689e0bc00ca/conda-cheatsheet.pdf)
* ``conda create --name savi``

In [262]:
# !conda create --name savi --yes

## Python Data Types
Learn more about [Python Data Types from Python.org](https://docs.python.org/3.7/library/datatypes.html).

You can check any Python object's type with the `type()` function. 

### Integers

In [263]:
5

5

In [264]:
type(5)  # the type() function shows the type, in this case, data type int

int

### Float 
Floats are decimal numeric types

In [265]:
1.7

1.7

In [266]:
2.00000000009

2.00000000009

In [267]:
type(1.7)  # data type float

float

### Boolean 

`True` or `False` data type

In [268]:
True  # 
type(True)  # Boolean -

bool

In [269]:
type(False)

bool

In [270]:
not True

False

In [271]:
not False

True

In [272]:
1 == True  # == test for equality 
# True is 1  == is the Equality Operator

True

In [273]:
False == 0
# False is 0  == is the Equality Operator

True

In [274]:
False == 1

False

In [275]:
True == 0

False

In [276]:
True == 1

True

In [277]:
1 > False
# False is 0

True

### Strings
Strings are a data type that stores text as data. 

**You can add comments to lines of codes with the hash symbol** `# comment`

In [278]:
# strings can be stored inside double-quotes
"Geospatial is fun!"  # double-quotes

'Geospatial is fun!'

In [279]:
# strings can be stored in single-quotes
'Python is fun!'

'Python is fun!'

In [280]:
'Math is hard'

'Math is hard'

In [281]:
# you can set a "variable" to equal the string to store for later...

multiline_string = """
I can write multi-line comments. 

A Poem. 

GIS is awesome! And so is Python!

Fin. 
"""

In [282]:
print(multiline_string) # use print() function to print
# text out in Python

I can write multi-line comments.

A Poem.

GIS is awesome! And so is Python!

Fin.

In [283]:
first_name = "John"
last_name = 'Doe'

print(first_name, last_name)

John Doe

### Properties of Strings
You can

In [284]:
len(last_name)  # I want to know how many characters are in 
# last_name

3

In [285]:
last_name.upper()  # upper() func. makes uppercase

'DOE'

In [286]:
last_name.lower()  # lower() func makes lowercase

'doe'

In [287]:
last_name.split('o')  # split on the character 'o'

# in this case the first argument for the split function
# is the delimiter, in this case 'o'

['D', 'e']

In [288]:
last_name.split('o', 1)  # SHIFT + TAB

['D', 'e']

In [289]:
last_name.split  # another way to get arg's

#### Slice

In [290]:
first_name[0]  # 0 indexed item

'J'

In [291]:
first_name[-1]  # get the letter 'n' from 'John'

'n'

In [292]:
first_name[3]  # get the letter 'n' from 'John'

'n'

In [293]:
# gets middle 
first_name[1:3]

'oh'

In [294]:
# gets first three
first_name[:3]

'Joh'

In [295]:
# Also gets first three
first_name[0:3]

'Joh'

In [296]:
# Gets all but first 1
first_name[1:]

'ohn'

In [297]:
# reversed
first_name[::-1]

'nhoJ'

### Variables can be place into text via f-Strings

More on [f-strings](https://www.python.org/dev/peps/pep-0498/).

In [298]:
# Escape, then dd to Delete a Jupyter Cell.

In [299]:
statement = f"Employee name: {last_name}, {first_name}"

statement 
# f-strings are really nice tool for inline variable substittion

'Employee name: Doe, John'

In [300]:
print('Employee name:', last_name, ',', first_name)

Employee name: Doe , John

In [301]:
first_name = 'Jane'
last_name = 'Smithfield'

statement = f"The employee with the last name of {last_name} has a first name of {first_name}"
statement

'The employee with the last name of Smithfield has a first name of Jane'

### Python Operators (+, =, -, *)

#### Addition

In [302]:
y = 3 + 2
type(y)

int

In [303]:
z = 3 + 2.5  # we add an int and a float

type(z)

float

In [304]:
z

5.5

In [305]:
# you can add strings together with + 
full_name_exp = last_name + ', ' + first_name + ' Loves GEOSPATIAL!'

full_name_exp

'Smithfield, Jane Loves GEOSPATIAL!'

#### Subtraction

In [306]:
1000 - 12343242354326246

-12343242354325246

#### Multiplication

In [307]:
5 * 1.1  # asterisk for mulptipy

5.5

In [308]:
# you can multiply strings!
first_name * 3

'JaneJaneJane'

#### Division

In [309]:
# Note this operates slightly differently for integers in Python 2.x

10 / 3

3.3333333333333335

#### Floor Operator 

> The / (division) and // (floor division) operators yield the quotient of their arguments. The numeric arguments are first converted to a common type. Division of integers yields a float, while floor division of integers results in an integer; the result is that of mathematical division with the ‘floor’ function applied to the result. Division by zero raises the ZeroDivisionError exception. - Source: [https://docs.python.org/3.3/reference/expressions.html#binary-arithmetic-operations](https://docs.python.org/3.3/reference/expressions.html#binary-arithmetic-operations)

In [310]:
10 // 3  # w/ no remainder

3

In [311]:
10 // 3.

3.0

#### Modulo Operator

> The % (modulo) operator yields the remainder from the division of the first argument by the second. The numeric arguments are first converted to a common type. A zero right argument raises the ZeroDivisionError exception. The arguments may be floating point numbers, e.g., 3.14%0.7 equals 0.34 (since 3.14 equals 4*0.7 + 0.34.) The modulo operator always yields a result with the same sign as its second operand (or zero); the absolute value of the result is strictly smaller than the absolute value of the second operand [1]. - Source: [https://docs.python.org/3.3/reference/expressions.html#binary-arithmetic-operations](https://docs.python.org/3.3/reference/expressions.html#binary-arithmetic-operations)

In [312]:
10 % 3  # useful for a lot of coding interview questions
# the remainder from the division of the first argument by the second

1

#### Exponentiate

In [313]:
2 ** 2

4

In [314]:
3 ** 4

81

## Variables

Often in Python, you want to reuse some value, you can do this easily using a **Variable**. I can overwrite some defined Variables if the datatype is **Mutable**.

### Variable Naming Rules

* Use lowercase without spaces.
* Use underscores in place of spaces.
* Name variables descriptively. 
* Do not start variable name with a number. 
* Avoid existing function and built-in names.

In [315]:
x = 5

In [316]:
x ** x

3125

In [317]:
# this overwrites the initial x, 
# this type of object, is Mutable.

x = 2

In [318]:
x ** x

4

## Collections Data Types

### List
A list is a simple collection type, it is **Mutable**, you can add and/or remove items to it. Lists are **ordered**.

In [319]:
students = [
    'Sara', 
    'Anna', 
    'Roger',
    'Kat',
    'Matthew',
]  # square brackets

In [320]:
type(students)

list

In [321]:
len(students)  # very similar to the string data type

5

In [322]:
# return the name Sara
students[0]

'Sara'

In [323]:
students[2]

'Roger'

In [324]:
students.append('Mr. Potatohead')

In [325]:
students

['Sara', 'Anna', 'Roger', 'Kat', 'Matthew', 'Mr. Potatohead']

In [326]:
# We've now changed the state of this list to be sorted
students[-1]

'Mr. Potatohead'

In [327]:
students[5]

'Mr. Potatohead'

In [328]:
students

['Sara', 'Anna', 'Roger', 'Kat', 'Matthew', 'Mr. Potatohead']

In [329]:
students.sort()

students

['Anna', 'Kat', 'Matthew', 'Mr. Potatohead', 'Roger', 'Sara']

In [330]:
students[-1]

'Sara'

In [331]:
students.append('Danny')

In [332]:
students

['Anna', 'Kat', 'Matthew', 'Mr. Potatohead', 'Roger', 'Sara', 'Danny']

In [333]:
students.remove('Mr. Potatohead')

In [335]:
students

['Anna', 'Kat', 'Matthew', 'Roger', 'Sara', 'Danny']

In [336]:
' is a student and '.join(students)

'Anna is a student and Kat is a student and Matthew is a student and Roger is a student and Sara is a student and Danny'

### Dictionaries

Dictionaries are unordered data that has a **key** and a **value**.

In [337]:
my_dictionary = {
    'first_name': 'John',  # the first thing on this line is called a 'Key'
    'last_name': 'Doe',   # the second thing on this line is a 'Value'
    'age': 32,
}  # curly braces

In [339]:
my_dictionary['first_name']

'John'

In [342]:
my_dictionary['last_name']

'Doe'

In [343]:
type(my_dictionary['last_name'])

str

In [344]:
my_dictionary['age']

32

#### Dictionaries can be nested

In [345]:
states = {
    "NY": {
        "fullname": "New York State",
        "motto": "GIS fo' eva!"
    },  # holy cow!! Another dictionary
    "NJ": {
        "fullname": "New Jersey",
        "motto": "Python in da houssssseee!",
        "founded": 1787,
        "industries": ['textile', 'silk', 'railroad locomotive']
    }
}

In [352]:
states

{'NY': {'fullname': 'New York State', 'motto': "GIS fo' eva!"},
 'NJ': {'fullname': 'New Jersey',
  'motto': 'Python in da houssssseee!',
  'founded': 1787,
  'industries': ['textile', 'silk', 'railroad locomotive']}}

In [360]:
students.append(3333333333)
# students

In [359]:
students.append(states)
# students

In [357]:
# We can overwrite values, what is this called? 
states['NJ'] = 123456789

In [358]:
states

{'NY': {'fullname': 'New York State', 'motto': "GIS fo' eva!"},
 'NJ': 123456789}

### Other Collection Types 
* [Tuples](https://docs.python.org/3.4/c-api/tuple.html) - Tuples are **Immutable**
* [Sets](https://docs.python.org/2/library/sets.html) - Set's only include 1 of a unique element. 

We can talk about these later on, but you'll encounter this much less.

In [370]:
coordinates = (42, -73)  # Tuple lat, lng 
coordinates

(42, -73)

In [371]:
coordinates[0]  # Latitude

42

In [372]:
coordinates[1]  # Longitude

-73

In [373]:
coordinates[1] = -77  # this is immutable

TypeError: 'tuple' object does not support item assignment

In [374]:
coordinates = (142, -173)
coordinates

(142, -173)

In [377]:
s = set(['nj', 'ny', 'nj', 'nj'])  
# take list object and turn into a set object

s  # set only preserves 1 of a unique element

{'nj', 'ny'}

## Built-in Python Functions
We saw the `type()` function when we were looking at Data Types

In [378]:
# round

In [ ]:
round

In [1]:
# get the length of s, the set from above

## Python Libraries

> Python’s standard library is very extensive, offering a wide range of facilities as indicated by the long table of contents listed below. The library contains built-in modules (written in C) that provide access to system functionality such as file I/O that would otherwise be inaccessible to Python programmers, as well as modules written in Python that provide standardized solutions for many problems that occur in everyday programming. Some of these modules are explicitly designed to encourage and enhance the portability of Python programs by abstracting away platform-specifics into platform-neutral APIs. Source: https://docs.python.org/3/library/

Some functions are not immediately accessible and we need to `import` certain libraries for use. 


#### You can import a library for handling Dates & Time called datetime

#### You can import plotting libraries like `matplotlib` for data visualization